#include <windows.h>
#include "version.h"

1 ICON "mixlauncher.ico"
#ifdef ML_DEV_BUILD
// Development build: no elevation prompt (the Win key then does not work over admin windows).
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "mixlauncher.dev.manifest"
#else
// Runs as administrator: only then the keyboard hook sees keys aimed at elevated windows.
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "mixlauncher.manifest"
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION ML_VER_MAJOR,ML_VER_MINOR,ML_VER_PATCH,0
PRODUCTVERSION ML_VER_MAJOR,ML_VER_MINOR,ML_VER_PATCH,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", "MixLauncher"
            VALUE "ProductName", "MixLauncher"
            VALUE "FileVersion", ML_VER_STR
            VALUE "ProductVersion", ML_VER_STR
            VALUE "OriginalFilename", "mixlauncher.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
